body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background: #f0f4f8;
    h1 {
        text-align: center;
        color: 2c3e50;
    }
}
form {
    width: 600px;
    margin:auto;
    background-color:#f0f4f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;

}
fieldset {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    background-color: aliceblue;
    margin-bottom: 20px;

}
legend {
    font-weight: bold;
    text-align: left;
    color: #2c3e50;
}
lable {
    display: block;
    margin-top: 10;
    color:#2c3e50
}
input,textarea {
    width: calc(100% - 1px);
    padding: 8px;
     margin-top: 4px;
    border:1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box; 
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(143, 185, 252);
    color: black;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0,4px 8px rgba(0, 0, 0, 0.5);
}
button :hover {
    background-color: rgb(72, 72, 227);
}
#profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #3498bd;
    box-shadow: 0 4px 8px rgba(18, 161, 245, 0.943);
    border-radius: 500px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
}